layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab_template name="BPS" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        // BPS - even used 7-3, call binary here :)
        pane split_direction="vertical" {
            pane size="70%" {

            }
            pane split_direction="horizontal" size="30%" {
                pane
                pane
            }
        }
    }
    tab_template name="Side-by-Side" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane split_direction="vertical" {
            pane
            pane
        }
    }
    tab_template name="Plain" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane
    }
    tab_template name="Help" {
        // compact looks beautiful, but not enough for beginners like me!
        //
        // pane size=1 borderless=true {
        //     plugin location="zellij:compact-bar"
        // }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    BPS focus=true name="BPS"
    Side-by-Side name="Side-by-Side"
    Plain name="Plain"
    Help name="Help"
}
