layout {
    tab_template name="Filer" {
        pane split_direction="horizontal" {
            pane size="80%" command="yazi" {

            }
            pane size="20%" {

            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab_template name="BPS" {
        // BPS - even used 7-3, call binary here :)
        pane split_direction="vertical" {
            pane size="70%" {

            }
            pane split_direction="horizontal" size="30%" {
                pane
                pane
            }
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab_template name="Side-by-Side" {
        pane split_direction="vertical" {
            pane
            pane
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab_template name="Plain" {
        pane
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    Filer focus=true name="Filer"
    BPS name="BPS"
    Side-by-Side name="Side-by-Side"
    Plain name="Plain"
    tab name="Help" {
        // compact looks beautiful, but not enough for beginners like me!
        //
        // pane size=1 borderless=true {
        //     plugin location="zellij:compact-bar"
        // }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
