version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    ignore:
      - dependency-name: 'crate-ci/typos'
    cooldown:
      default-days: 7
  - package-ecosystem: 'github-actions'
    directory: '/.github/actions/setup-nix'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
  - package-ecosystem: 'gomod'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
