version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: 'crate-ci/typos'
  - package-ecosystem: 'gomod'
    directory: '/'
    schedule:
      interval: 'monthly' # It is annoy to bump vendorHash manually :<
