version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: 'crate-ci/typos'
    groups:
      determinatesystems-actions:
        patterns:
          - 'DeterminateSystems*'
  - package-ecosystem: 'gomod'
    directory: '/'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'gomod'
    directory: '/pkgs/trim-github-user-prefix-for-reponame'
    schedule:
      interval: 'weekly'
