version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: 'crate-ci/typos'
    cooldown:
      default-days: 14
  - package-ecosystem: 'gomod'
    directory: '/'
    schedule:
      interval: 'weekly'
