// candidates: https://github.com/zellij-org/zellij/tree/v0.39.2/zellij-utils/assets/themes
theme "nord-contrast"
themes {
    // Modified from original nord theme.
    nord-contrast {
        fg 216 222 233 // #D8DEE9
        // See #295 for the detail
        // bg 46 52 64 // #2E3440
        bg 0 95 95 // #005f5f
        black 59 66 82 // #3B4252
        red 191 97 106 // #BF616A
        green 163 190 140 // #A3BE8C
        yellow 235 203 139 // #EBCB8B
        blue 129 161 193 // #81A1C1
        magenta 180 142 173 // #B48EAD
        cyan 136 192 208 // #88C0D0
        white 229 233 240 // #E5E9F0
        orange 208 135 112 // #D08770
    }
}
default_mode "locked"
// candidates: https://github.com/zellij-org/zellij/blob/v0.39.2/zellij-utils/assets/config/default.kdl
keybinds {
    shared_except "locked" {
        bind "Alt q" {
            Quit
        }
        unbind "Ctrl q" //  conflict micro
    }
    // shared_except "resize" "locked" {
    //     // unbind "Ctrl n" //  conflict why n = resize
    // }
    shared_except "tab" "locked" {
        bind "Alt t" {
            SwitchToMode "Tab"
        }
        unbind "Ctrl t" // conflict fzf
    }
}
// $SHELL is now bash since #452
default_shell "zsh"
