# This template inherits from docker-nix.yaml and adds home-manager provisioning.
# See: https://lima-vm.io/docs/templates/

base:
  - ./docker-nix.yaml

# Configuration parameters that can be overridden via `limactl create --set`
param:
  # The default flake URI. In CI, we override this to point to the GitHub branch.
  # In local, if we mount the repo to ~/dotfiles, this will be used.
  flake: '{{.Home}}/dotfiles'

provision:
  # 2. Apply home-manager
  - mode: user
    file:
      url: ./provision-home.sh
