# This template inherits from the official Docker template and adds Nix.
# See: https://lima-vm.io/docs/templates/

base:
  - template:docker

# Configuration parameters that can be overridden via `limactl create --set`
param:
  # The flake URI to use for synchronizing Nix configuration.
  flake: 'github:kachick/dotfiles/main'

user:
  name: 'user'

provision:
  # 1. Install Nix (Multi-user) and enable flakes with binary caches
  - mode: system
    file:
      url: ./provision-nix.sh
