# This is a patch for official Lima templates.
# Use it like:
#   yq eval-all 'select(fileIndex == 0) * select(fileIndex == 1) | .provision = select(fileIndex == 0).provision + select(fileIndex == 1).provision | .mounts = select(fileIndex == 0).mounts + select(fileIndex == 1).mounts' dist/docker.yaml config/lima/patch.yaml

user:
  name: 'user'

mounts:
  - location: '~'
    writable: false
  - location: '~/repos'
    mountPoint: '{{.Home}}/repos'
    writable: true

provision:
  # 1. Install Nix (Multi-user) and enable flakes with binary caches
  # Following README Ubuntu instructions carefully.
  - mode: system
    script: |
      #!/bin/bash
      set -eux -o pipefail
      if ! command -v nix >/dev/null 2>&1; then
        extra_conf_path="$(mktemp --suffix=.extra.nix.conf)"
        echo 'experimental-features = nix-command flakes' >> "$extra_conf_path"
        # 'user' is the name defined in the 'user' block of this YAML
        echo "trusted-users = root user @wheel" >> "$extra_conf_path"

        # Add binary caches from flake.nix to speed up provisioning
        echo "extra-substituters = https://kachick-dotfiles.cachix.org https://cache.nixos.org" >> "$extra_conf_path"
        echo "extra-trusted-public-keys = kachick-dotfiles.cachix.org-1:XhiP3JOkqNFGludaN+/send30shcrn1UMDeRL9XttkI= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=" >> "$extra_conf_path"

        sh <(curl --proto '=https' --tlsv1.2 -L https://nixos.org/nix/install) --daemon --yes --nix-extra-conf-file "$extra_conf_path"
      fi

      # Force Nix profile loading for non-interactive shells in Ubuntu
      if ! grep -q "nix-daemon.sh" /etc/bash.bashrc; then
        echo 'if [ -e /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh ]; then . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh; fi' >> /etc/bash.bashrc
      fi

  # 2. Apply home-manager
  - mode: user
    script: |
      #!/bin/bash
      set -eux -o pipefail

      # Step 3 in README Ubuntu section
      mkdir -p ~/.local/state/nix/profiles

      # Source Nix for the current provisioning session
      if [ -e /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh ]; then
        . /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
      fi

      DOTFILES_DIR="$HOME/repos/github.com/kachick/dotfiles"
      cd "$DOTFILES_DIR"
      # Apply home-manager configuration for "user@lima"
      nix run '.#home-manager' -- switch -b backup --show-trace --flake ".#user@lima"
