# https://github.com/golang/go/issues/59968
name: ʕ◔ϖ◔ʔ

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/ci-go.yml'
      - '**.go'
      - 'go.*'
      - 'testdata/**'
      - 'Taskfile.yml'
  pull_request:
    paths:
      - '.github/workflows/ci-go.yml'
      - '**.go'
      - 'go.*'
      - 'testdata/**'
      - 'Taskfile.yml'
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - windows-2025
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: 'go.sum'
      - run: go test ./...
      - run: go build -v -race ./...
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache-dependency-path: 'go.sum'
      - name: check format
        run: go fmt ./... && git add --intent-to-add . && git diff --exit-code
      - name: 'Ensure installing go tool is done. Without this step, `go: downloading ...` logs appears in the extracting command path'
        run: go tool -n exhaustruct
      - run: go vet -vettool "$(go tool -n exhaustruct)" ./...
