name: CI for usage of visitors
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lima-full:
    runs-on: macos-26
    timeout-minutes: 180
    steps:
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - run: |
          nix shell 'github:kachick/dotfiles/43256914ba0c2fe4af38d35edbc572c3df97e484#lima-full' --command limactl --version
