/* Making findbar to be top-left */
/* https://support.mozilla.org/lt/questions/1372399#answer-1492856 */
.browserContainer > findbar {
  -moz-box-ordinal-group: 0 !important; /*  for 112 and older */
  order: -1 !important; /* for 113 and newer */
  border-top: none !important;
  border-bottom: 1px solid ThreeDShadow !important;
  /* TODO: Realize top-right with adjusting the many checkboxes, can we make multiline? */
}
